* {
	margin: 0px;
	padding: 0px;
}

.header {
	width: 100vw;
	height: 10vh;
	background: linear-gradient(70deg, #2c3e50, #3498db);
}

.body {
	width: 100vw;
	height: 90vh;
	background-color: #CFCFCF;
}

.header_osnw {
	width: 100%;
	max-width: 1280px;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.body_osnw {
	width: 100%;
	max-width: 1280px;
	height: 90vh;
}

.header_osnw_left {
	display: flex;
	height: 100%;
	align-items: center;
}

.header_osnw_left_name-text {
	color: white;
	font-size: 3rem;
	margin: 0px 10px 0px 10px;
}

.header_osnw_left_burger-div {
	height: 80%;
	aspect-ratio: 1 / 1;
	border: 1px solid #CFCFCF;
	border-radius: 10px;
	margin: 0px 10px 0px 10px;
}